/* Prevent word breaking in the grading table */
div.submissionmojecgrading {
    white-space: nowrap;
}


/****************************************************************
* Layout for the Detail view
****************************************************************/
div.failedTestWrapper {
    overflow: auto;
}

div.failedtestcontent {
    float: right;
    width: 85%;
}

div.failedtestsidebar {
    float: left;
    width: 15%;
}

/****************************************************************
* Collapser for the stacktrace
****************************************************************/
.collapsible {
    cursor: pointer;
    display: block;
    text-decoration: underline;
}
.collapsible + input{
    display: none; /* hide the checkboxes */
}
.collapsible + input + div{
    display:none;
}
.collapsible + input:checked + div{
    display:block;
}